$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.prod_view {
  float: right;
  width: 50vw;
}

.column1 {
  float: left;
  width: 50vw;
}

// .row::after {
//   clear: both;
//   content: '';
//   display: table;
// }
